### Introduction
__Business problem__

## Project Goals
- **Examine** historical box office performance across various genres, budgets, revenues and release dates.  
- **Identify** key trends that contribute to a movieâ€™s commercial success.  
- **Recommend** data-driven strategies to guide the creation and marketing of new films.

### Data Understanding
The data source for this aanalysis was gotten tn.movie_budgets.csv

We will:
- Import the relevant libraries
- Load the data into a dataframe
- Explore and extract data for my analysis
- Data Visualization interpratation
- Provide Recommendations

__Import libraries__

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, roc_curve
from sklearn.preprocessing import LabelEncoder, StandardScaler

__Load Data__

In [4]:
data = pd.read_csv('C:/Projects/Project_phase3/bigml_59c28831336c6604c800002a.csv', index_col=0)
data.head()

,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
state,,,,,,,,,,,,,,,,,,,,
KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

__Data Understanding__

In [5]:
data.shape

(3333, 20)

In [6]:
print(data.info())
print(data.describe())
print(data['churn'].value_counts(normalize=True))

<class 'pandas.core.frame.DataFrame'>
Index: 3333 entries, KS to TN
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   account length          3333 non-null   int64
 1   area code               3333 non-null   int64
 2   phone number            3333 non-null   object
 3   international plan      3333 non-null   object
 4   voice mail plan         3333 non-null   object
 5   number vmail messages   3333 non-null   int64
 6   total day minutes       3333 non-null   float64
 7   total day calls         3333 non-null   int64
 8   total day charge        3333 non-null   float64
 9   total eve minutes       3333 non-null   float64
 10  total eve calls         3333 non-null   int64
 11  total eve charge        3333 non-null   float64
 12  total night minutes     3333 non-null   float64
 13  total night calls       3333 non-null   int64
 14  total night charge      3333 non-null   float64
 15  total intl minutes      3333 non-null   float64
 16  total intl calls        3333 non-null   int64
 17  total intl charge       3333 non-null   float64
 18  customer service calls  3333 non-null   int64
 19  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 524.0+ KB
None
       account length    area code  number vmail messages  total day minutes  \
count     3333.000000  3333.000000            3333.000000        3333.000000
mean       101.064806   437.182418               8.099010         179.775098
std         39.822106    42.371290              13.688365          54.467389
min          1.000000   408.000000               0.000000           0.000000
25%         74.000000   408.000000               0.000000         143.700000
50%        101.000000   415.000000               0.000000         179.400000
75%        127.000000   510.000000              20.000000         216.400000
max        243.000000   510.000000              51.000000         350.800000

       total day calls  total day charge  total eve minutes  total eve calls  \
count      3333.000000       3333.000000        3333.000000      3333.000000
mean        100.435644         30.562307         200.980348       100.114311
std          20.069084          9.259435          50.713844        19.922625
min           0.000000          0.000000           0.000000         0.000000
25%          87.000000         24.430000         166.600000        87.000000
50%         101.000000         30.500000         201.400000       100.000000
75%         114.000000         36.790000         235.300000       114.000000
max         165.000000         59.640000         363.700000       170.000000

       total eve charge  total night minutes  total night calls  \
count       3333.000000          3333.000000        3333.000000
mean          17.083540           200.872037         100.107711
std            4.310668            50.573847          19.568609
min            0.000000            23.200000          33.000000
25%           14.160000           167.000000          87.000000
50%           17.120000           201.200000         100.000000
75%           20.000000           235.300000         113.000000
max           30.910000           395.000000         175.000000

       total night charge  total intl minutes  total intl calls  \
count         3333.000000         3333.000000       3333.000000
mean             9.039325           10.237294          4.479448
std              2.275873            2.791840          2.461214
min              1.040000            0.000000          0.000000
25%              7.520000            8.500000          3.000000
50%              9.050000           10.300000          4.000000
75%             10.590000           12.100000          6.000000
max             17.770000           20.000000         20.000000

       total intl charge  customer service calls
count        3333.000000             3333.000000
mean            2.764581                1.562856
std             0.753773                1.315491
min             0.000000                0.000000
25%             2.300000                1.000000
50%             2.780000                1.000000
75%             3.270000                2.000000
max             5.400000                9.000000
churn
False    0.855086
True     0.144914
Name: proportion, dtype: float64

## Data Cleaning

In [10]:
data_clean = data.drop(columns=['phone number', 'area code'])
le = LabelEncoder()
data_clean['international plan'] = le.fit_transform(data_clean['international plan'])
data_clean['voice mail plan'] = le.fit_transform(data_clean['voice mail plan'])

X = data_clean.drop(columns=['churn'])
y = data_clean['churn']

In [12]:
data['international plan'] = data['international plan'].replace({'yes': 1, 'no': 0})
data['voice mail plan'] = data['voice mail plan'].replace({'yes': 1, 'no': 0})
data['churn'] = data['churn'].astype(int)

# One-hot encoding
data = pd.get_dummies(data, columns=['area code'], drop_first=True)

# Drop irrelevant column
data.drop('phone number', axis=1, inplace=True)

# Verify
print(data.head())
print("\nChurn distribution:\n", data['churn'].value_counts())
print("\nMissing values:\n", data.isnull().sum())

       account length  international plan  voice mail plan  \
state
KS                128                   0                1
OH                107                   0                1
NJ                137                   0                0
OH                 84                   1                0
OK                 75                   1                0

       number vmail messages  total day minutes  total day calls  \
state
KS                        25              265.1              110
OH                        26              161.6              123
NJ                         0              243.4              114
OH                         0              299.4               71
OK                         0              166.7              113

       total day charge  total eve minutes  total eve calls  total eve charge  \
state
KS                45.07              197.4               99             16.78
OH                27.47              195.5              103             16.62
NJ                41.38              121.2              110             10.30
OH                50.90               61.9               88              5.26
OK                28.34              148.3              122             12.61

       total night minutes  total night calls  total night charge  \
state
KS                   244.7                 91               11.01
OH                   254.4                103               11.45
NJ                   162.6                104                7.32
OH                   196.9                 89                8.86
OK                   186.9                121                8.41

       total intl minutes  total intl calls  total intl charge  \
state
KS                   10.0                 3               2.70
OH                   13.7                 3               3.70
NJ                   12.2                 5               3.29
OH                    6.6                 7               1.78
OK                   10.1                 3               2.73

       customer service calls  churn  area code_415  area code_510
state
KS                          1      0           True          False
OH                          1      0           True          False
NJ                          0      0           True          False
OH                          2      0          False          False
OK                          3      0           True          False

Churn distribution:
 churn
0    2850
1     483
Name: count, dtype: int64

Missing values:
 account length            0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
area code_415             0
area code_510             0
dtype: int64